<!DOCTYPE html>
<html>
<head>
  <title>es6-rails Example</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Asset Vanilla ES6", asset_vanilla_es6_example_index_path %> <br/>
<%= link_to "Inlne Vanilla ES6", inline_vanilla_es6_example_index_path %> <br/>
<%= link_to "Remote Vanilla ES6", remote_vanilla_es6_example_index_path %> <br/>

<br/>
<br/>

<%= link_to "Asset Vanilla ES6.JS", asset_vanilla_es6_js_example_index_path %> <br/>
<%= link_to "Inlne Vanilla ES6.JS", inline_vanilla_es6_js_example_index_path %> <br/>
<%= link_to "Remote Vanilla ES6.JS", remote_vanilla_es6_js_example_index_path %> <br/>

<br/>
<br/>

<hr/>

<%= yield %>

</body>
</html>
